.mat-mdc-card {
    position: absolute;
    bottom: 32px;
    right: 150px;
    left: 150px;
    border-radius: 12px;
    background-color: whitesmoke;
    padding: 12px 16px;
}

.mat-mdc-card-title {
    font-size: 24px;
}

.mat-mdc-card-content {
    padding: 0;
    font-size: 18px;
}